<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Roozh</title>
    <script src="~/Scripts/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="~/Scripts/Roozh.js" type="text/javascript"></script>
    @RenderSection("styles", required: false)
</head>
<body>
    @RenderBody()
    
    @RenderSection("scripts", required: false)
</body>
</html>
